template(name='bulletNoteItem')
  li.note-item(class='{{className}}',id="noteItem_{{_id}}",data-id="{{_id}}")
    .noteContainer
      .options.pull-left
        if childNotes
          .expand.mdl-button.mdl-button--icon.mdl-button--accent(id="expand_{{_id}}")
            i.material-icons remove
        else
          .expand.mdl-button.mdl-button--icon(id="expand_{{_id}}")
            i.material-icons add
        +noteMenu
        // Handle
        .handle.dot.mdl-button.mdl-button--icon.hasChildren(title="{{hoverInfo}}")
          i.material-icons.zoom(id="drag_{{_id}}") fiber_manual_record
        
        .handle.noteNumber {{rank}}

      +noteTitle(titleArgs this)

      if progress
        .progress.progress-striped(data-toggle="tooltip", data-placement="top", title="{{progress}}% Complete", data-original-title="{{progress}}% Complete")
          .progress-bar(class='progress-bar-{{progressClass}}' role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%')
            span.sr-only {{progress}}% Complete (success)
      input.fileInput(type='file',style='display:none')
      
      if showDetailCard
        +noteDetailCard

      if showContent
        if showBody
          +noteBody(bodyArgs this)
        if files
          .filesContainer
            each file in files.each
              +fileItem(fileArgs file)
        a.hideContent(id="hideContent_{{_id}}")
          i.glyphicon.glyphicon-chevron-up
        .mdl-tooltip.mdl-tooltip--large(for='hideContent_{{_id}}')
          | {{_ 'notes.tooltips.hide_content'}}
      else
        if hasContent
          a.showContent(id="showContent_{{_id}}")
            i.glyphicon.glyphicon-chevron-down
          .mdl-tooltip.mdl-tooltip--large(for='showContent_{{_id}}')
            | {{_ 'notes.tooltips.show_content'}}
      with currentUpload
        | Uploading 
        b {{file.name}}
        | : 
        span#progress {{progress.get}}%
  
    .childWrap
      if childNotes
        ol
          each childNotes
            +bulletNoteItem
        if completedCount
          .toggleComplete
            if showComplete
              if alwaysShowComplete
                a.toggleAlwaysShowComplete Don't Always Show Complete
              else
                | Hide completed
                a.toggleAlwaysShowComplete Always Show Complete
            else
              | Show completed ({{completedCount}} completed notes)
  